<section class="about">
  <div class="container">
    <div class="about-content">
      <div class="about-icon">
        <ion-icon name="cube"></ion-icon>
      </div>
      <h2 class="h2 about-title">Why Choose Us?</h2>
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis tempore
        quas incidunt expedita.
      </p>
      <button class="btn btn-outline">Learn More</button>
    </div>
    <ul class="about-list">
      <li>
        <div class="about-card">
          <div class="card-icon">
            <ion-icon name="thumbs-up"></ion-icon>
          </div>
          <h3 class="h3 card-title">Easy To Use</h3>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi,
            dolorem.
          </p>
        </div>
      </li>
      <li>
        <div class="about-card">
          <div class="card-icon">
            <ion-icon name="trending-up"></ion-icon>
          </div>
          <h3 class="h3 card-title">Grow Your Revenue</h3>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi,
            dolorem.
          </p>
        </div>
      </li>
      <li>
        <div class="about-card">
          <div class="card-icon">
            <ion-icon name="shield-checkmark"></ion-icon>
          </div>
          <h3 class="h3 card-title">Analytics Security</h3>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi,
            dolorem.
          </p>
        </div>
      </li>
      <li>
        <div class="about-card">
          <div class="card-icon">
            <ion-icon name="server"></ion-icon>
          </div>
          <h3 class="h3 card-title">Data Privacy</h3>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi,
            dolorem.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
