<section class="blog" id="blog">
  <div class="container">
    <h2 class="h2 section-title">Latest News</h2>
    <p class="section-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis.
    </p>
    <ul class="blog-list">
      <li>
        <div class="blog-card">
          <figure class="blog-banner">
            <img
              src="/assets/images/blog-banner-1.jpg"
              alt="Best travelling places"
            />
          </figure>
          <div class="blog-meta">
            <span
              ><ion-icon name="calender-outline"></ion-icon>
              <time datetime="2022-08-03">August 03 2022</time>
            </span>
            <span>
              <ion-icon name="person-outline"></ion-icon>
              <p>admin</p>
            </span>
          </div>
          <h3 class="blog-title">Places to visit to spark creativity</h3>
          <p class="blog-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
            quas, fuga nobis assumenda voluptatem deleniti?
          </p>
          <a href="" class="blog-linkt-btn">
            <span>Read More</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="blog-card">
          <figure class="blog-banner">
            <img
              src="/assets/images/blog-banner-2.jpg"
              alt="Private Meeting Room"
            />
          </figure>
          <div class="blog-meta">
            <span
              ><ion-icon name="calender-outline"></ion-icon>
              <time datetime="2022-08-02">August 02 2022</time>
            </span>
            <span>
              <ion-icon name="person-outline"></ion-icon>
              <p>editor</p>
            </span>
          </div>
          <h3 class="blog-title">Private Meeting Room</h3>
          <p class="blog-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
            quas, fuga nobis assumenda voluptatem deleniti?
          </p>
          <a href="" class="blog-linkt-btn">
            <span>Read More</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="blog-card">
          <figure class="blog-banner">
            <img
              src="/assets/images/blog-banner-3.jpg"
              alt="The Best Business Ideas"
            />
          </figure>
          <div class="blog-meta">
            <span
              ><ion-icon name="calender-outline"></ion-icon>
              <time datetime="2022-08-01">August 01 2022</time>
            </span>
            <span>
              <ion-icon name="person-outline"></ion-icon>
              <p>admin</p>
            </span>
          </div>
          <h3 class="blog-title">The Best Business Ideas</h3>
          <p class="blog-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
            quas, fuga nobis assumenda voluptatem deleniti?
          </p>
          <a href="" class="blog-linkt-btn">
            <span>Read More</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
