<section class="features" id="features">
  <div class="container">
    <h2 class="h2 section-title">Awesome Features</h2>
    <p class="section-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
      placeat. Repellendus nostrum natus impedit accusamus culpa amet odio
      aspernatur aliquid.
    </p>
    <div class="features-wrapper">
      <figure class="features-banner">
        <img src="/assets/images/features-img-1.png" alt="illustration art" />
      </figure>
      <div class="features-content">
        <p class="features-content-subtitle">
          <ion-icon name="sparkles"></ion-icon>
          <span>CREATIVE FEATURES</span>
        </p>
        <h3 class="features-content-title">
          Build <strong>community</strong> & <strong>conversion</strong> with
          our suite of social tool
        </h3>
        <p class="features-content-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
          repudiandae fuga ut molestiae commodi inventore vero eveniet soluta.
          Minus, doloremque.
        </p>
        <ul class="features-list">
          <li class="features-list-item">
            <ion-icon name="layers-outline"></ion-icon>
            <p>Lorem ipsum dolor sit amet.</p>
          </li>
          <li class="features-list-item">
            <ion-icon name="megaphone-outline"></ion-icon>
            <p>Lorem ipsum dolor sit amet.</p>
          </li>
        </ul>
        <div class="btn-group">
          <button class="btn btn-primary">Read More</button>
          <button class="btn btn-outline">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="features-wrapper">
      <figure class="features-banner">
        <img src="/assets/images/features-img-2.png" alt="illustration art" />
      </figure>
      <div class="features-content">
        <p class="features-content-subtitle">
          <ion-icon name="sparkles"></ion-icon>
          <span>CREATIVE FEATURES</span>
        </p>
        <h3 class="features-content-title">
          We do the work you <strong>stay focused</strong> on your customers.
        </h3>
        <p class="features-content-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis,
          atque iste incidunt pariatur nihil nam.
        </p>
        <ul class="features-list">
          <li class="features-list-item">
            <ion-icon name="rocket-outline"></ion-icon>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </li>
          <li class="features-list-item">
            <ion-icon name="wifi-outline"></ion-icon>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </li>
        </ul>
        <div class="btn-group">
          <button class="btn btn-primary">Read More</button>
          <button class="btn btn-outline">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
