<div class="hero" id="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="h1 hero-title">Business Solutions for Growth</h1>
      <p class="hero-text">
        Lets build you a solution that grows your business and increases your
        revenue
      </p>
      <p class="form-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <form action="" class="hero-form">
        <input
          type="email"
          name="email"
          required
          placeholder="Enter Your email"
          class="email-field"
        />
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </form>
    </div>
    <figure class="hero-banner">
      <img src="/assets/images/hero-banner.png" alt="Hero image" />
    </figure>
  </div>
</div>
